body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#460153,#170222); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

/* Parent Div*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
}



/*Main Logo*/
img {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 2;
    border-radius: 100%;  
}

.checkbox {
    display: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    /* border-radius: 40px; */
    background: linear-gradient(90deg, #DC3DAA, #230844);
    border-radius: 100%;
    cursor: pointer;
    z-index: 2;
}

/* .button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 100%;
    background: linear-gradient(90deg, #DC3DAA, #230844);
    filter: blur(20px);   
} */

.button:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(90deg, #DC3DAA, #230844);
    filter: blur(20px);   
}

.button span {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    background: plum;
    opacity: 0.7;
    border-radius: 100%;  
    /* z-index: 1; */
}

.button:hover {
    box-shadow: 0 0 70px 30px rgb(51, 2, 51), 0 0 70px 30px rgb(87, 10, 87);
    transition: 0.9s;
    transform: scale(1.1);
}

img:hover {
    box-shadow: 0 0 70px 9px rgb(228, 141, 228);
    transition: 1s;
    transform: scale(1.1);
}


/*Earth Navigation*/
.earth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, #FFDE59, #FF914D);
    border-radius: 100%;
    transition: 0.5s;
    z-index: 1;
}

.img2, a {
    /* position: absolute; */
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.earth:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(90deg, #FFDE59, #FF914D);
    filter: blur(20px);   
}

.earth span {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background: #f7b891;
    opacity: 0.6;
    border-radius: 100%;
    z-index: 0;  
}

.earth:hover {
    box-shadow: 0 0 35px 9px #c95005, 0 0 35px 9px #f7ad0e;;
    transition: 0.9s;
    transform: scale(1.1);
}

.img2:hover {
    box-shadow: 0 0 35px 5px #f1e20e;
    transition: 1s;
    transform: scale(1.1);
}

.checkbox:checked ~ .earth {
    transform: translateX(70px) translateY(-220px);
    transition: 0.5s;
}

/*Water Navigation*/
.water {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    background: linear-gradient(90deg, #38B6FF, #004AAD);
    border-radius: 100%;
    transition: 0.5s;
    z-index: 1;
}

.img3, a {
    /* position: absolute; */
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.water:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(90deg, #38B6FF, #004AAD);
    filter: blur(20px);   
}

.water span {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background: #5bc1e0;
    opacity: 0.6;
    border-radius: 100%;
    z-index: 0;  
}

.water:hover {
    box-shadow: 0 0 70px 10px #020b63, 0 0 70px 9px #06469b;;
    transition: 0.9s;
    transform: scale(1.1);
}

.img3:hover {
    box-shadow: 0 0 20px 6px #06d1d8;
    transition: 1s;
    transform: scale(1.1);
}

.checkbox:checked ~ .water {
    transform: translateX(70px) translateY(220px);
    transition: 0.5s;
}

/*Fire Navigation*/
.fire {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, #FF66C4, #FF1616);
    border-radius: 100%;
    transition: 0.5s;
    z-index: 1;
}

.img4, a {
    /* position: absolute; */
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.fire:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(90deg, #FF66C4, #FF1616);
    filter: blur(20px);   
}

.fire span {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background: #f5b8b8;
    opacity: 0.6;
    border-radius: 100%;
    z-index: 0;  
}

.fire:hover {
    box-shadow: 0 0 70px 10px #8b0303, 0 0 70px 9px #961f1a;;
    transition: 0.9s;
    transform: scale(1.1);
}

.img4:hover {
    box-shadow: 0 0 20px 6px #ec4545;
    transition: 1s;
    transform: scale(1.1);
}

.checkbox:checked ~ .fire {
    transform: translateX(240px) translateY(-100px);
    transition: 0.5s;
}

/*Air Navigation*/
.air {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, #D9D9D9, #03989E);
    border-radius: 100%;
    transition: 0.5s;
    z-index: 1;
}

.img5, a {
    /* position: absolute; */
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.air:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(90deg, #D9D9D9, #03989E);
    filter: blur(20px);   
}

.air span {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background: #D9D9D9;
    opacity: 0.6;
    border-radius: 100%;
    z-index: 0;  
}

.air:hover {
    box-shadow: 0 0 70px 10px #293b3a, 0 0 70px 9px #3a6164;;
    transition: 0.9s;
    transform: scale(1.1);
}

.img5:hover {
    box-shadow: 0 0 20px 6px #f7f0f0;
    transition: 1s;
    transform: scale(1.1);
}

.checkbox:checked ~ .air {
    transform: translateX(240px) translateY(100px);
    transition: 0.5s;
}


/*Text Section*/

.main .description {
    position: absolute;
    width: 470px;
    height: 130px;
    margin: 0px;
    padding-left: 0px;
    border: none;
    top: 400px;
    left: 200px;
    z-index: 3;
}

h1 {
    margin: 0px;
    margin-bottom: 15px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF; 
}

p {
    margin: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

/*Social Media Links*/
.socmed {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 300px;
    left: calc(100% / 2 + 300px);
    top: 600px;
}

.socmed .meditem {
    border: solid;
    font-size: 2rem;
    color: rgb(248, 241, 241, 0.8);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}


 /*Glowing particles section*/
.glowing {
    position: absolute;
    min-width: 350px;
    height:350px;
    margin: -100px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
    transform-origin: left;
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

.glowing span {
    position: absolute;
    top: calc(70px * var(--i));
    left: calc(70px * var(--i));
    bottom: calc(70px * var(--i));
    right: calc(70px * var(--i));

}

.glowing span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 5px;
    height: 5px;
    background: #f00;
    border-radius: 50%;
}

.glowing span:nth-child(3n + 1):before {
    background: rgba(134, 255, 0, 1);  
    box-shadow:0 0 20px rgba(134, 255, 0, 1),
    0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
    0 0 0 8px rgba(134, 255, 0, 1);
}

.glowing span:nth-child(3n + 2):before {
    background: rgba(255, 214, 0, 1);  
    box-shadow:0 0 20px rgba(255, 214, 0, 1),
    0 0 40px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
    0 0 0 8px rgba(255, 214, 0, 1);
}

.glowing span:nth-child(3n + 3):before {
    background: rgba(0, 226, 255, 1);  
    box-shadow:0 0 20px rgba(0, 226, 255, 1),
    0 0 40px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
    0 0 0 8px rgba(0, 226, 255, 1);
}

.glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*Smartphones Portrait and Landscape*/
@media screen and (min-width:320px) and (max-width:480px)
{

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        width: 100vh;
    }
    /*Main Logo*/

    .button {
        width: 100px;
        height: 100px;
        background: linear-gradient(90deg, #DC3DAA, #230844);
        border-radius: 100%;
        cursor: pointer;
        z-index: 2;
    }

    .button:after {
        filter: blur(10px);   
    }
    
    .button span {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        background: plum;
        opacity: 0.7;
        border-radius: 100%;
    }
    /*Glowing particles section*/
    .glowing {
        position: absolute;
        min-width: 350px;
        height: 350px;
        margin: -50px;
        transform-origin: right;
        animation: colorChange 5s linear infinite;
    }

    img {
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 2;
        border-radius: 100%;  
    }

    /*earth section*/
    .earth, .img2, a {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    .earth:after {
        filter: blur(10px);   
    }
    .checkbox:checked ~ .earth {
        transform: translateX(130px) translateY(0px);
        transition: 0.5s;
    }
    /*water section*/
    .water, .img3, a {
        width: 100px;
        height: 100px;
        border-radius: 100%;   
    }
    .water:after {
        filter: blur(10px);   
    }
    .checkbox:checked ~ .water {
        transform: translateX(0px) translateY(150px);
        transition: 0.5s;
    }
    /*fire section*/
    .fire, .img4, a {
        width: 100px;
        height: 100px;
        border-radius: 100%;  
    }
    .fire:after {
        filter: blur(10px);   
    }
    .checkbox:checked ~ .fire {
        transform: translateX(0px) translateY(-150px);
        transition: 0.5s;
    }
    /*air section*/
    .air, .img5, a {
        width: 100px;
        height: 100px;
        border-radius: 100%;   
    }
    .air:after {
        filter: blur(10px);   
    }
    .checkbox:checked ~ .air {
        transform: translateX(-130px) translateY(0px);
        transition: 0.5s;
    }

    /*Text Section*/
    .main .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 130px;
        border: none;
        top: calc(10%);
        left: 1px;
        z-index: 3;
    }

    h1 {
        margin: 0px;
        margin-bottom: 15px;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 30px;
        color: #FFFFFF; 
    }

    p {
        margin: 0px;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 42px;
        color: #FFFFFF;
    }

    /*Social Media Links*/
    .socmed {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        height: 50px;
        width: 300px;
        left: calc(15%);
        top: calc(85%);
    }

    .socmed .meditem {
        border: solid;
        font-size: 2rem;
        color: rgb(248, 241, 241, 0.8);
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
    }

}

/*Tablet and all Ipad*/
@media screen and (min-width:768px) and (max-width:1024px)
{
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        width: 100vh;
    }

    .glowing {
        position: absolute;
        min-width: 350px;
        height: 350px;
        margin: -75px;
        transform-origin: right;
        animation: colorChange 5s linear infinite;
    }

    /*Main Logo*/

    .button {
        width: 100px;
        height: 100px;
        background: linear-gradient(90deg, #DC3DAA, #230844);
        border-radius: 100%;
        cursor: pointer;
        z-index: 2;
    }

    .button:after {
        filter: blur(10px);   
    }
    
    .button span {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        background: plum;
        opacity: 0.7;
        border-radius: 100%;
    }

    img {
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 2;
        border-radius: 100%;  
    }

    /*earth section*/
    .earth, .img2, a {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    .earth:after {
        filter: blur(10px);   
    }
    .checkbox:checked ~ .earth {
        transform: translateX(160px) translateY(0px);
        transition: 0.5s;
    }
    /*water section*/
    .water, .img3, a {
        width: 100px;
        height: 100px;
        border-radius: 100%;   
    }
    .water:after {
        filter: blur(10px);   
    }
    .checkbox:checked ~ .water {
        transform: translateX(0px) translateY(160px);
        transition: 0.5s;
    }
    /*fire section*/
    .fire, .img4, a {
        width: 100px;
        height: 100px;
        border-radius: 100%;  
    }
    .fire:after {
        filter: blur(10px);   
    }
    .checkbox:checked ~ .fire {
        transform: translateX(0px) translateY(-160px);
        transition: 0.5s;
    }
    /*air section*/
    .air, .img5, a {
        width: 100px;
        height: 100px;
        border-radius: 100%;   
    }
    .air:after {
        filter: blur(10px);   
    }
    .checkbox:checked ~ .air {
        transform: translateX(-160px) translateY(0px);
        transition: 0.5s;
    }
    /*Text Section*/

    .main .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 130px;
        border: none;
        top: 60px;
        left: 1px;
        z-index: 3;
    }

    h1 {
        margin: 0px;
        margin-bottom: 15px;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 30px;
        color: #FFFFFF; 
    }

    p {
        margin: 0px;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 42px;
        color: #FFFFFF;
    }

    /*Social Media Links*/
    .socmed {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        height: 50px;
        width: 300px;
        left: calc(32%);
        top: calc(85%);
    }

    .socmed .meditem {
        border: solid;
        font-size: 2rem;
        color: rgb(248, 241, 241, 0.8);
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
    }
}